.App{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* background-image: url('https://img.freepik.com/premium-photo/solar-power-station-with-solar-panels-producing-electric-power-energy-by-green-power-technology-electrical-industrial-power-plant-concept-3d-illustration-rendering_10307-2111.jpg');
 background-size: cover;
 background-repeat: repeat; */
 
}
