*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* font-family: 'Roboto', sans-serif; */
}

body{
  /* background-color: papayawhip; */
  background-color: #F0D4BE;
}


